<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<p><%= @article.created_at.strftime("%B ") + @article.created_at.strftime("%d").to_i.ordinalize + ", " + @article.created_at.strftime("%Y") %> by <%= link_to @article.user.username, user_path(@article.user_id) %></p>

<div id="add-comment">
  <%= link_to "Add a comment", new_article_comment_path(@article.id) %>
</div>

<h3>Comments:</h3>
<% @comments.each do |comment| %>
  <p><%= comment.body %></p>
  <p><%= @article.created_at.strftime("%B ") + comment.created_at.strftime("%d").to_i.ordinalize + ", " + comment.created_at.strftime("%Y") %> by <%= link_to @article.user.username, user_path(@article.user_id) %></p>
  <hr>
<% end %>