<div class="container">
  <h1>Register:</h1>

  <%= form_for(@user) do |f| %>
    <p><%= f.text_field :username, placeholder: "username" %></p>
    <p><%= f.password_field :password, placeholder: "password" %></p>

    <%= f.submit "Create my account", class: "btn btn-primary" %>
  <% end %>

  Already a member? <%= link_to("Sign in!", login_path) %>
</div>

