<div class="container">
  <% if logged_in? %>
    <h1>Hi, <span class="username"><%= @user.username %></span></h1>
  <%else%>
    <h1><span class="username"><%= @user.username %></span></h1>
  <%end%>


  <h3>Your articles:</h3>
  <% @articles.each do |article| %>
    <p class="comment-body-usr-show"><%= link_to article.title, article_path(article) %></p>
    <hr>
  <%end%>


  <h3>Your comments:</h3>
  <% @comments.each do |comment| %>
    <p class="comment-body-usr-show"><%= comment.body %> - <%= link_to comment.article.title, article_path(comment.article_id) %></p>
    <hr>
  <%end%>
</div>
