<div class="container">

  <% @articles.each do |article| %>
    <h3 class="main-article-link"><%= link_to article.title, article_path(article) %></h3>
    <p id="created-at"><%= article.created_at.strftime("%B ") + article.created_at.strftime("%d").to_i.ordinalize + ", " + article.created_at.strftime("%Y") %> by <%= link_to article.user.username, user_path(article.user_id) %></p>
    <p class="article-body"><%= article.body %></p>
    <% if article.comments.count == 1 %>
      <p><%= link_to article.comments.count, article_path(article) %> comment</p>
    <% else %>
      <p><%= link_to article.comments.count, article_path(article) %> comments</p>
    <% end %>
    <hr>
  <%end%>

  <% if logged_in? %>
    <h4 class="new-article-link"><%= link_to "Add a new post!", new_article_path%></h4>
  <% else %>
    <h4 class="new-article-link"><%= link_to "Log in to add a new post!", login_path %></h4>
  <% end %>

</div>
